body {
    background-image: url('./../assets/dz9uko.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
#background {
    background-image: url('./../assets/levelOnesmall.jpg');
    background-position:top center;
    background-repeat: no-repeat;
    background-size: 800px;
    height: 600px;
    width: 800px;
    position: relative;
   margin: 1% auto;
   border-color: wheat;
   border-style:solid;
   border-radius: 2%;
   
   
}
#title {
    background-color:rgb(31, 15, 43);
    color:wheat;
    padding: 10px 0px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: wheat;
    border-style:solid;
    border-radius: 8px;
    width:800px;
    margin: 0 auto;

}
#orion {
    max-width: 125px;
    position: absolute;
    margin: 0;
}

.moves {
    size: 100px 100px;
    position: absolute;
}
#p1 {
    opacity: 1;
}

#position1 {
    top: 10px;
    left: 0px;
    color: seagreen;
    margin: 2px;
}
#p2 {
    opacity: 0; 
}
#position2 {
    top: 40px;
    left: 225px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 1px;
}
#p3 {
    opacity: 0;
}

#position3 {
    top: 0px;
    left: 422px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 1px;
}
#p4 {
    opacity: 0; 
}
#position4 {
    top: 105px;
    left: 603px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#p5 {
    opacity: 0;
}
#position5 {
    top: 235px;
    left: 355px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 1px;
}
#p6 {
    opacity: 0;
}
#position6{
    top: 222px;
    left: 115px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 1px;
}
#p7 {
    opacity: 0;
}
#position7 {
    top: 165px;
    left: 238px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 1px;
}
#p8 {
    opacity: 0;
}
#position8 {
    top: 505px;
    left: 292px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 1px;
}
#p9 {
    opacity: 0;
}
#position9 {
    top: 344px;
    left: 520px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 1px;
}
#livesAnchor {
    text-align: center;
    top: 515px;
    left: 665px;
    margin: 0px;
    width: 100px;
    height: 60px;
    padding: 0px 10px;
    border-radius: 8px;
    border-style:solid;
    border-color: wheat;
    background-color:mediumseagreen ;
    color:lavenderblush;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#level {
    text-align:center;
    top: 515px;
    left: 10px;
    width: 100px;
    height: 60px;
    margin: 0px;
    padding: 0px 10px;
    border-radius: 8px;
    border-style:solid;
    border-color: wheat;
    background-color:mediumseagreen ;
    color:lavenderblush;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    text-align: center;
    width: 85px;
    padding: 5px 5px;
    border-radius: 8px;
    border-style:solid;
    border-color:grey;

}
