body {
    background-color: black;
}
#background {
    background-image: url('./../assets/levelOnesmall.jpg');
    background-position:top center;
    background-repeat: no-repeat;
    background-size: 800px;
    height: 600px;
    width: 800px;
    position: relative;
   margin: 1% auto;
   border-color: wheat;
   border-style:solid;
   border-radius: 2%;
   
   
}
h1 {
    background-color:rgb(31, 15, 43);
    color:wheat;
    padding: 10px 0px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: wheat;
    border-style:solid;
    border-radius: 8px;
    width:800px;
    margin: 0 auto;

}
#orion {
    max-width: 125px;
    position: absolute;
    margin: 0;
}

.moves {
    size: 100px 100px;
    position: absolute;
}
#position1 {
    top: 10px;
    left: 20px;
    color: seagreen;
    margin: 0px;
}
#position2 {
    top: 40px;
    left: 245px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#position3 {
    top: 0px;
    left: 445px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#position4 {
    top: 105px;
    left: 623px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#position5 {
    top: 235px;
    left: 377px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#position6 {
    top: 222px;
    left: 139px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#position7 {
    top: 165px;
    left: 260px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#position8 {
    top: 515px;
    left: 312px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#position9 {
    top: 344px;
    left: 540px;
    color: mediumseagreen;
    /* size: 100px; */
    margin: 0px;
}
#livesAnchor {
    top: 500px;
    left: 650px;
    margin: 10px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 8px;
    border-style:solid;
    border-color: wheat;
    background-color:mediumseagreen ;
    color:lavenderblush;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#inputField {
    top: 500px;
    left: 5px;
    width: 100px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    border-style:solid;
    border-color: wheat;
    background-color:mediumseagreen ;
    color:lavenderblush;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
